/* OVERRIDES */

a, p, blockquote, h1, h2, h3, h4, h5, h6 {
	color: inherit;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

em, i {
	font-style: italic;
}

strong, b {
	font-weight: bold;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/*	BODY  */
body {
	background-color: #704214;
	color: black;
	font-family: Oswald, sans-serif;
	line-height: 1.4;
}


/*	MAIN SECTION */

/*	MAIN SECTION BOX */
main {
}


/*	MAIN SECTION CONTAINING INVENTORY */
#inventory {
	margin: 25px auto 50px;
	width: 900px;
}

/*	Inventory item box */
.item {
	float: left;
	margin: 10px;
	width: 160px;
	height: 160px;
	background-color: #ee0;
}

/*	Inventory item box change on hover */
.item:hover {
	cursor: pointer;
}

/*	Inventory item image */
.item figure {
	width: 160px;
	height: 160px;
}

/*	Inventory item image change on item box hover */
.item:hover figure {
}

/*	Inventory item caption */
.item figcaption {
	float: right;
	margin: -12px -8px 0 0;
	padding: 0 5px;
	width: min-content;
	background-color: white;
	color: #704214;
}

/*	Inventory item caption change on item box hover */
.item:hover figcaption {
	background-color: #704214;
	color: white;
}


/*	MAIN SECTION CONTAINING MAIN TEXT */
#description {
	margin: auto;
	width: 600px;
}

/*	Title of main text */
#description h2 {
	margin: 1.5rem 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	color: #704214;
}

/*	Main text box */
article {
}

/*	Main text paragraphs */
article p {
	margin: 0.5rem 0;
	text-align: justify;
	font-family: Merriweather, serif;
}

/*	OTHER ASSETS */

/*	Without major explanation, the element this styles should go at the end
	of any set of elements set to float:left or float:right ;
	it makes the container holding the floating elements behave intuitively
	by taking up space (normally floating elements act like ghosts) */
.floatweight {
	clear: both;
	margin: 0;
	border: 0;
	padding: 0;
	width: 0;
	height: 0;
}





/* -----------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
----------------------------------------------------------------------------------- */

/*--------------------Overall--------------------*/

body {
  background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: 'alegreya', serif;
}

h1 {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6, ol, ul, p {
  color: white;
	padding-left: 200px;
	padding-right: 200px;
}

h5 {
  font-size: 18pt;
}

p {
  font-family: 'lato', sans-serif;
}

ol, li {
  display: list-item;
}

.nav-3:hover {
  text-decoration: underline;
	cursor: pointer;
}

figcaption {
  color: white;
}

.section-name {
  clear: both;
	font-size: 28pt;
}

hr {
  width: 75%;
}


/*----------------------------------------*/
/*--------------------HEADER--------------------*/
/*----------------------------------------*/

/*	Header box */
header {
	margin-top: 75px;
}

/*	Title in header */
#site-title {
	margin: 25px;
	text-align: center;
	font-size: 3rem;
	color: #0be;
}


/*----------------------------------------*/
/*--------------------NAVIGATION--------------------*/
/*----------------------------------------*/

/* Logo */
#logo {
  position: fixed;
	left: 30px;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
}

/* Heart emblem */
#heart {float: left;
	background-image: url("images/sprite-maps/Pandora_Box_s-map.png");
	background-size: 150px 75px;
	width: 75px;
	height: 75px;
	margin: 0px 10px;
}

#heart:hover {
  background-position: -75px;
}

/* New drop-down navigation */
#primary_nav_wrap {
  position: fixed;
		top: 13px;
		left: 50%;
		transform: translate(-50%, 0);
	border: 3px groove #704214;
	padding: 5px;
	width: 720px;
	z-index: 10;
	background-color: rgb(214, 204, 169);
	font-weight: bold;
}

#primary_nav_wrap ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

#primary_nav_wrap ul a {
	display: block;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	line-height: 32px;
	padding: 0 15px;
	font-family: Lato;
	font-weight: bold;
}

#primary_nav_wrap ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

#primary_nav_wrap ul li.current-menu-item {
}

#primary_nav_wrap ul li:hover {
	background: #f6f6f6;
}

#primary_nav_wrap ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	padding: 0;
}

#primary_nav_wrap ul ul li {
	float: none;
	width: 200px;
}

#primary_nav_wrap ul ul a {
	line-height: 120%;
	padding: 10px 15px;
}

#primary_nav_wrap ul ul ul {
	top: 0;
	left: 100%;
}

#primary_nav_wrap ul li:hover > ul {
	display: block
}

/* Search bar */
#search-bar {
  float: right;
	position: fixed;
  	top: 25px;
		right: 50px;
}


/*----------------------------------------*/
/*--------------------EL MAPA --------------------*/
/*----------------------------------------*/
#USA-map {
  background-image: url("images/USA_map-lightened.png");
	height: 561px;
	width: 990px;
	background-size: 990px 561px;
	margin: auto;
}

#USA_s-map {
  background-image: url("images/sprite-maps/USA_s-map.png");
  height: 561px;
  width: 990px;
  background-size: 2970px 2805px;
  margin: auto;
}

/* Map labels - general */
.map-name {
  text-transform: uppercase;
	color: #704214;
	position: absolute;
	font-size: 11pt;
	text-align: center;
	font-weight: bold;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .25)
}

.map-name:hover {
  cursor: pointer;
	font-size: 12pt;
}

#sinkhole-map-name {
  left: 980px;
	bottom: 242px;
	padding: 2em;
	margin: -2em;
}

.USA-sinkhole {background-position: -990px 0px;
}

#foxes-map-name {
  left: 935px;
	bottom: 191px;
	padding: 2em;
	margin: -2em;
}

.USA-foxes {
  background-position: -1980px 0px;
}

#bamboo-map-name {
  left: 857px;
	bottom: 79px;
	padding: 2em;
	margin: -2em;
}

.USA-bamboo {
  background-position: 0px -561px;
}

#caves-map-name {
  left: 780px;
	bottom: 1px;
	padding: 2em;
	margin: -2em;
}

.USA-caves {
  background-position: -990px -561px;
}

#global-map-name {
  left: 975px;
	bottom: -73px;
	padding: 2em;
	margin: -2em;
}

.USA-global {
  background-position: -1980px -561px;
}

#wasteland-map-name {
  left: 590px;
	bottom: -30px;
	padding: 2em;
	margin: -2em;
}

.USA-wasteland {
  background-position: 0px -1122px;
}

#sacred-map-name {
  left: 659px;
	bottom: 89px;
	padding: 2em;
	margin: -2em;
}

.USA-sacred {
  background-position: -990px -1122px;
}

#coal-map-name {
  left: 812px;
	bottom: 147px;
	padding: 2em;
	margin: -2em;
}

.USA-coal {
  background-position: -1980px -1122px;
}

#burial-map-name {
  left: 615px;
	bottom: 185px;
	padding: 2em;
	margin: -2em;
}

.USA-burial {
  background-position: 0px -1683px;
}

#fishermans-map-name {
  left: 700px;
	bottom: 247px;
	padding: 2em;
	margin: -2em;
}

.USA-fishermans {
  background-position: -990px -1683px;
}

#borderlands-map-name {
  left: 471px;
	bottom: 302px;
	padding: 2em;
	margin: -2em;
}

.USA-borderlands {
  background-position: -1980px -1683px;
}

#valley-map-name {
  left: 425px;
	bottom: 120px;
	padding: 2em;
	margin: -2em;
}

.USA-valley {
  background-position: 0px -2244px;
}

#ruins-map-name {
  left: 349px;
	bottom: 167px;
	padding: 2em;
	margin: -2em;
}

.USA-ruins {
  background-position: -990px -2244px;
}

#uncharted-map-name {
  left: 297px;
	bottom: 277px;
	padding: 2em;
	margin: -2em;
}

.USA-uncharted {
  background-position: -1980px -2244px;
}


/*----------------------------------------*/
/*--------------------Contents--------------------*/
/*----------------------------------------*/
#main-contents {
  font-size: 18pt;
	font-family: alegreya;
	clear: both;
}

#contents {
  font-size: 14pt;
	font-family: alegreya;
	clear: both;
}

.ToC-title-main {
  font-size: 14pt;
	font-family: lato;
}

.ToC-title-main:hover {
  text-decoration: underline;
	cursor: pointer;
}

.ToC-title {
  font-size: 12pt;
	font-family: lato;
}

.ToC-title:hover {
  text-decoration: underline;
	cursor: pointer;
}


/*----------------------------------------*/
/*--------------------About--------------------*/
/*----------------------------------------*/
/*turn image into checkbox so you can change back and forth with each click*/
#about-1 {
  background-image: url('images/sprite-maps/Bamboo_Forest_s-map.jpg');
	display: block;
	height: 400px;
	width: 527.6px;
	background-size: 1055.2px 400px;
	margin: auto;
	background-repeat: no-repeat;
	cursor:pointer;
}

#about-1:checked {
  background-position: -527.6px;
}

.native-hidden {
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#about-cap {
  text-align: center;
}

#about-txt {
  margin: 0 150px;
	font-size: 18px;
	font-weight: bold;
}

/*----------------------------------------*/
/*--------------------Bestiary--------------------*/
/*----------------------------------------*/

table, th, td {
  border: 5px solid black;
	font-family: alegreya;
	padding: 5px;
	vertical-align: middle;
	background-color: rgba(255, 255, 255, .5);
}

th {
  font-family: lato;
}

table {
	width: 50%;
	clear: both;
}

td img {
  display: block;
	margin-left: auto;
	margin-right: auto;
}

#bestiary {
  clear: both;
}

.bestiary-img {
  margin: 10px;
	height: 236px;
	width: 200px;
	background-size: 400px 236px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.bestiary-img:hover {
  background-position: -200px 0px;
	cursor: pointer;
}

.bestiary-name:hover, .name:hover {
  text-decoration: underline;
	cursor: pointer;
}

.bestiary-txt {
  vertical-align: text-top;
	padding: 10px;
}

#pearasite {
  background-image: url("images/sprite-maps/Pearasite_s-map.png");
}

#moonfly {
  background-image: url("images/sprite-maps/Moonfly_s-map.png");
}

#weaver {
  background-image: url("images/sprite-maps/Weaver_s-map.png");
}

#wafflesnake {
  background-image: url("images/sprite-maps/Wafflesnake_s-map.png");
}

#royal_façade {
  background-image: url("images/sprite-maps/Royal_Facade_s-map.png");
}


/*----------------------------------------*/
/*--------------------Shops--------------------*/
/*----------------------------------------*/
.shops-img {
  height: 250px;
	width: 300px;
	background-size: 600px 250px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	margin: 20px 20px 50px 20px;
}

.shops-img:hover {
  background-position: -300px 0px;
cursor: pointer;
}

#bamboo-hut {
  background-image: url("images/sprite-maps/Bamboo_Hut_s-map.jpg");
}

#sugar-cane {
  background-image: url("images/sprite-maps/Sugar_Cane_s-map.jpg");
}

.shop-txt {
  margin: 20px 0px 0px 0px;
}

/*----------------------------------------*/
/*--------------------People--------------------*/
/*----------------------------------------*/

.people-img {
  height: 236px;
	width: 200px;
	background-size: 400px 236px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	margin: 0px 35px 20px 35px;
}

.people-img:hover {
  background-position: -200px 0px;
	cursor: pointer;
}

#cambodian-dude {
  background-image: url("images/sprite-maps/Cambodian_Dude_s-map.png");
}

#phil {
  background-image: url("images/sprite-maps/Phil_s-map.png");
}

#sugar-cane-owner {
  background-image: url("images/sprite-maps/Sugar_Cane_Owner_s-map.png");
}

li.name {
  clear: both;
  font-size: 18pt;
	margin: 0 50px;
}

.people-txt {
  margin: 10px 0px 0px 0px;
}

/*----------------------------------------*/
/*--------------------Gallery--------------------*/
/*----------------------------------------*/
.gallery {
}

.gallery:hover {
  cursor: pointer;
}

.gallery figcaption{
  text-align: center;
	margin-top: 260px;
}

#gallery-grid {
  margin: 20px;
	display: inline-block;
}

#cave-painting {
  background-image: url("images/sprite-maps/Cave_Painting_s-map.jpg");
	height: 250px;
	width: 311.75px;
	background size: 623.25px 250px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin: auto;
	display: inline-block;
}

#cave-painting:hover {
  background-position: -311.75px 0px;
}


#bird-watch {
  background-image: url("images/sprite-maps/Bird_Watch_s-map.png");
	height: 250px;
	width: 375px;
	background size: 750px 250px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin: auto;
	display: inline-block;
}

#bird-watch:hover {
  background-position: -375px 0px;
}

#snowy-border {
  background-image: url("images/sprite-maps/Snowy_Border_s-map.png");
	height: 250px;
	width: 375px;
	background size: 750px 250px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin: auto;
	display: inline-block;
}

#snowy-border:hover {
  background-position: -375px 0px;
}


/*----------------------------------------*/
/*--------------------Misc--------------------*/
/*----------------------------------------*/

#misc-txt {
  margin: 0 150px;
}


/*----------------------------------------*/
/*--------------------FOOTER--------------------*/
/*----------------------------------------*/
/*	Main box */
footer {
	margin: 50px auto;
	border-top: solid 8px #704214;
	padding: 20px 100px;
	width: 800px;
}

/*	Social media icons box */
#social-set {
	float: right;
	border: solid 1px #704214;
	padding: 5px;
	background-color: rgba(214, 204, 169, 0.5);
}

.social-icon {
	display: block;
	float: right;
	margin: 5px;
	width: 20px;
	height: 20px;
}

.social-icon:hover {
	margin: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

/*	Extra box in footer */
#foot-note {
	margin: 0 0px;
	padding: 0px;
	position: relative;
		left: -200px;
	color: #704214;
	font-size: 14px;
}
