/* OVERRIDES */
a, p, blockquote, h1, h2, h3, h4, h5, h6 {
	color: inherit;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

em, i {
	font-style: italic;
}

strong, b {
	font-weight: bold;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* Inventory item image */
.item figure {
	width: 160px;
	height: 160px;
}

/* Inventory item caption */
.item figcaption {
	float: right;
	margin: -12px -8px 0 0;
	padding: 0 5px;
	width: min-content;
	background-color: var(--primary-text-color);
	color: #704214;
}

/* Inventory item caption change on item box hover */
.item:hover figcaption {
	background-color: #704214;
	color: var(--primary-text-color);
}


/* MAIN SECTION CONTAINING MAIN TEXT */
#description {
	margin: auto;
	width: 600px;
}

/* Title of main text */
#description h2 {
	margin: 1.5rem 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	color: #704214;
}

/* Main text paragraphs */
article p {
	margin: 0.5rem 0;
}

/* OTHER ASSETS */

/* Without major explanation, the element this styles should go at the end
	of any set of elements set to float:left or float:right ;
	it makes the container holding the floating elements behave intuitively
	by taking up space (normally floating elements act like ghosts) */
.floatweight {
	clear: both;
	margin: 0;
	border: 0;
	padding: 0;
	width: 0;
	height: 0;
}





/* -----------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
----------------------------------------------------------------------------------- */

/*-------------------- Overall --------------------*/
:root {
  --primary-typeface: alegreya;
  --secondary-typeface: lato;
  --primary-text-color: white;
  --smooth-transition: .25s ease-in-out;

	--default-vw: 1425;
}

html {
	scroll-behavior: smooth;
}

body {
  background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: var(--primary-typeface);
  background-color: #704214;
  background-image: url("images/world_map_updated.jpg");
	line-height: 1.4;
}

main {
  padding: 20vh 15vw 0 15vw;
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6, ol, ul, p {
  color: var(--primary-text-color);
}

h5 {
  font-size: 18pt;
}

p {
  font-family: var(--secondary-typeface);
}

ol, li {
  display: list-item;
}

.nav-3:hover {
  text-decoration: underline;
}

figcaption {
  color: var(--primary-text-color);
}

.section-name {
  clear: both;
	font-size: 36px;
}

hr {
}

.interactive:hover {
  cursor: pointer;
}

/* Content specific to this location - e.g. About, Bestiary, etc. */
#specific-content {
	padding: 0 5vw;
}


/*----------------------------------------*/
/*-------------------- HEADER --------------------*/
/*----------------------------------------*/

/* Header box */
header {
}

/* Title in header */
#site-title {
	margin: 1.75vw;
	text-align: center;
	font-size: 3rem;
	color: var(--primary-text-color);
}


/*----------------------------------------*/
/*-------------------- NAVIGATION --------------------*/
/*----------------------------------------*/
#topnav {
  position: fixed;
    top: 0;
  background-color: rgba(0, 0, 0, 0.75);
	width: 100%;
  height: 12.5vh;
  display: flex;
  padding: 15px 30px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

/* Logo */
#logo {
	float: left;
  display: inline;
	background-image: url("images/sprite-maps/Pandora_Box_s-map.png");
	background-size: 513px 60.75px;
	width: 256.5px;
	height: 60.75px;
}

#logo:hover {
  background-position: -256.5px;
}

/* New drop-down navigation */
#primary_nav_wrap {
  position: fixed;
		left: 50%;
		transform: translate(-50%, 0);
	border: 3px groove #704214;
	padding: 5px;
	width: 720px;
	z-index: 10;
	background-color: rgb(214, 204, 169);
	font-weight: bold;
}

#primary_nav_wrap ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

#primary_nav_wrap ul a {
	display: block;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	line-height: 32px;
	padding: 0 15px;
	font-family: var(--secondary-typeface);
	font-weight: bold;
}

#primary_nav_wrap ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

#primary_nav_wrap ul li.current-menu-item {
}

#primary_nav_wrap ul li:hover {
	background: #f4f4f4;
}

#primary_nav_wrap ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	padding: 0;
}

#primary_nav_wrap ul ul li {
	float: none;
	width: 200px;
}

#primary_nav_wrap ul ul a {
	line-height: 120%;
	padding: 10px 15px;
}

#primary_nav_wrap ul ul ul {
	top: 0;
	left: 100%;
}

#primary_nav_wrap ul li:hover > ul {
	display: block
}

/* Search bar */
#search-bar {
}

#search-bar-label {
  color: var(--primary-text-color);
}

#linear-nav {
  color: var(--primary-text-color);
}


/*----------------------------------------*/
/*-------------------- EL MAPA --------------------*/
/*----------------------------------------*/
#map-caption {
  font-family: var(--primary-typeface);
  color: var(--primary-text-color);
  font-size: 24px;
}

#USA-map {
  background-image: url("images/USA_map-lightened.png");
	height: 561px;
	width: 990px;
	background-size: 990px 561px;
	margin: 0;
}

#USA_s-map {
  background-image: url("images/sprite-maps/USA_s-map.png");
  height: 561px;
  width: 990px;
  background-size: 2970px 2805px;
  margin: 0;
	position: relative;
}

/* Map labels - general */
.map-name {
  text-transform: uppercase;
	color: #704214;
	position: absolute;
	font-size: 11pt;
	text-align: center;
	font-weight: bold;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .25);
  transition: var(--smooth-transition);
  transform: scale(1);
	padding: 1em;
	margin: -1em;
}

.map-name:hover {
  transform: scale(1.15);
  transition: var(--smooth-transition);
}

#sinkhole-map-name {
  left: 760px;
	top: 135px;
}

.USA-sinkhole {
  background-position: -990px 0px;
}

#foxes-map-name {
	left: 715px;
  top: 205px;
}

.USA-foxes {
  background-position: -1980px 0px;
}

#bamboo-map-name {
	left: 655px;
	top: 320px;
}

.USA-bamboo {
  background-position: 0px -561px;
}

#caves-map-name {
	left: 565px;
  top: 375px;
}

.USA-caves {
  background-position: -990px -561px;
}

#global-map-name {
	left: 755px;
  top: 435px;
}

.USA-global {
  background-position: -1980px -561px;
}

#wasteland-map-name {
	left: 365px;
	top: 410px;
}

.USA-wasteland {
  background-position: 0px -1122px;
}

#sacred-map-name {
	left: 435px;
  top: 310px;
}

.USA-sacred {
  background-position: -990px -1122px;
}

#coal-map-name {
	left: 595px;
	top: 250px;
}

.USA-coal {
  background-position: -1980px -1122px;
}

#burial-map-name {
  left: 395px;
  top: 210px;
}

.USA-burial {
  background-position: 0px -1683px;
}

#fishermans-map-name {
	left: 480px;
	top: 130px;
}

.USA-fishermans {
  background-position: -990px -1683px;
}

#borderlands-map-name {
	left: 255px;
  top: 95px;
}

.USA-borderlands {
  background-position: -1980px -1683px;
}

#valley-map-name {
	left: 210px;
	top: 265px;
}

.USA-valley {
  background-position: 0px -2244px;
}

#ruins-map-name {
	left: 130px;
	top: 205px;
}

.USA-ruins {
  background-position: -990px -2244px;
}

#uncharted-map-name {
	left: 85px;
  top: 85px;
}

.USA-uncharted {
  background-position: -1980px -2244px;
}


/*----------------------------------------*/
/*-------------------- Contents --------------------*/
/*----------------------------------------*/
#contents {
	position: fixed;
		left: 50%;
		top: 12.5vh;
		transform: translate(-50%, 0);
  font-size: 14pt;
	font-family: var(--primary-typeface);
	text-align: center;
	background-color: rgba(0, 0, 0, .5);
	padding: 5px;
	box-sizing: border-box;
	width: 100%;
}

.ToC-title-main {
  font-size: 12pt;
	font-family: var(--secondary-typeface);
}

.ToC-title-main:hover {
  text-decoration: underline;
}


/*----------------------------------------*/
/*-------------------- About --------------------*/
/*----------------------------------------*/
/* Turn image into checkbox so you can change back and forth with each click */
#about-1 {
  background-image: url("images/sprite-maps/Bamboo_Forest_s-map.jpg");
	display: block;
	height: 400px;
	width: 527.6px;
	background-size: 1055.2px 400px;
	margin: auto;
	background-repeat: no-repeat;
	cursor:pointer;
}

#about-1:checked {
  background-position: -527.6px;
}

.native-hidden {
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#about-cap {
  text-align: center;
}

#about-txt {
  padding: 0 5.263vw;
	font-size: 18px;
	font-weight: bold;
}

/*----------------------------------------*/
/*-------------------- Bestiary --------------------*/
/*----------------------------------------*/

table, th, td {
  border: 5px solid black;
	font-family: var(--primary-typeface);
	padding: 5px;
	vertical-align: middle;
	background-color: rgba(255, 255, 255, .5);
}

th {
  font-family: var(--secondary-typeface);
}

table {
	clear: both;
}

td img {
  display: block;
	margin-left: auto;
	margin-right: auto;
}

#bestiary {
  clear: both;
}

.bestiary-img {
  margin: 10px;
	height: 236px;
	width: 200px;
	background-size: 400px 236px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.bestiary-img:hover {
  background-position: -200px 0px;
}

.bestiary-name:hover, .name:hover {
  text-decoration: underline;
}

.bestiary-txt {
  vertical-align: text-top;
	padding: 10px;
}

#pearasite {
  background-image: url("images/sprite-maps/Pearasite_s-map.png");
}

#moonfly {
  background-image: url("images/sprite-maps/Moonfly_s-map.png");
}

#weaver {
  background-image: url("images/sprite-maps/Weaver_s-map.png");
}

#wafflesnake {
  background-image: url("images/sprite-maps/Wafflesnake_s-map.png");
}

#royal_façade {
  background-image: url("images/sprite-maps/Royal_Facade_s-map.png");
}


/*----------------------------------------*/
/*-------------------- Shops --------------------*/
/*----------------------------------------*/
.shops-img {
  height: 250px;
	width: 300px;
	background-size: 600px 250px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	margin: 20px 20px 50px 20px;
}

.shops-img:hover {
  background-position: -300px 0px;
}

#bamboo-hut {
  background-image: url("images/sprite-maps/Bamboo_Hut_s-map.jpg");
}

#sugar-cane {
  background-image: url("images/sprite-maps/Sugar_Cane_s-map.jpg");
}

.shop-txt {
  margin: 20px 0px 0px 0px;
}

/*----------------------------------------*/
/*-------------------- People --------------------*/
/*----------------------------------------*/

.people-img {
  height: 236px;
	width: 200px;
	background-size: 400px 236px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	margin: 0px 35px 20px 35px;
}

.people-img:hover {
  background-position: -200px 0px;
}

#cambodian-dude {
  background-image: url("images/sprite-maps/Cambodian_Dude_s-map.png");
}

#phil {
  background-image: url("images/sprite-maps/Phil_s-map.png");
}

#sugar-cane-owner {
  background-image: url("images/sprite-maps/Sugar_Cane_Owner_s-map.png");
}

li.name {
  clear: both;
  font-size: 18pt;
	margin: 0 50px;
}

.people-txt {
  margin: 10px 0px 0px 0px;
}

/*----------------------------------------*/
/*-------------------- Gallery --------------------*/
/*----------------------------------------*/
.gallery {
  text-align: center;
}

.gallery:hover {
}

.gallery figcaption{
  text-align: center;
	margin-top: 260px;
}

#gallery-grid {
  margin: 20px;
	display: inline-block;
}

#cave-painting {
  background-image: url("images/sprite-maps/Cave_Painting_s-map.jpg");
	height: 250px;
	width: 311.75px;
	background size: 623.25px 250px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin: auto;
	display: inline-block;
}

#cave-painting:hover {
  background-position: -311.75px 0px;
}

#bird-watch {
  background-image: url("images/sprite-maps/Bird_Watch_s-map.png");
	height: 250px;
	width: 375px;
	background size: 750px 250px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin: auto;
	display: inline-block;
}

#bird-watch:hover {
  background-position: -375px 0px;
}

#snowy-border {
  background-image: url("images/sprite-maps/Snowy_Border_s-map.png");
	height: 250px;
	width: 375px;
	background size: 750px 250px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin: auto;
	display: inline-block;
}

#snowy-border:hover {
  background-position: -375px 0px;
}


/*----------------------------------------*/
/*-------------------- Misc --------------------*/
/*----------------------------------------*/

#misc-txt {
  padding: 0 5.263vw;
}


/*----------------------------------------*/
/*-------------------- FOOTER --------------------*/
/*----------------------------------------*/
/* Main box */
footer {
	border-top: solid 8px #704214;
  padding: 5vh 0;
}

/* Social media icons box */
#social-set {
	float: right;
	border: solid 1px #704214;
	padding: 5px;
	background-color: rgba(214, 204, 169, 0.5);
}

.social-icon {
	display: block;
	float: right;
	margin: 5px;
	width: 20px;
	height: 20px;
  transition: var(--smooth-transition);
}

.social-icon:hover {
	margin: 0;
	width: 30px;
	height: 30px;
  transition: var(--smooth-transition);
}

#copyright {
  font-size: 12pt;
}

#to-top-button {
  font-size: 10pt;
  color: rgba(255, 255, 255, 0.75);
}

/* Extra box in footer */
#foot-note {
	color: #704214;
	font-size: 14px;
}
